<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TFSCommunication.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TFSCommunication.Settings1>
            <setting name="ConfigFile" serializeAs="String">
                <value>c:\projects\TFSUtilConfig.xml</value>
            </setting>
        </TFSCommunication.Settings1>
    </applicationSettings>
</configuration>